h1{
    text-align: center;
    padding-top: 0px;
}
p{
    justify-content: center;
    padding: 15px;
    max-width: 620px;
    max-height: 745px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: rgb(152, 184, 212);
    border: 5px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}